body {
    padding-top: 50px;
    padding-bottom: 50px;
}

h1 {
    padding-bottom: 10px;
}

h2 {
    padding-bottom: 3px;
}

#results {
	text-align: center;
	margin: 0 auto;
}

#results div {
	float: left;
	margin: 5px;
}

#results img {
	width: 150px;
    height: 150px;
    margin-bottom: 1px;
}

form {
    padding-top: 3px;
}

label.vert {
    display: block;
    padding-top: 15px;
}