
{% extends "layout.html" %}

{% block head %}
{% endblock %}

{% block headtitle %}
    About
{% endblock %}

{% block nav %}
    <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li class="active"><a href="/about">About</a></li>
    </ul>
{% endblock %}

{% block jumbotron %}
{% endblock %}

{% block title %}
    About ImageSearch
{% endblock %}

{% block body %}
    <p>ImageSearch is a system for semantic based image indexing &amp; retrieval. It has been developed at
    the <a href="http://www.fav.zcu.cz/">Faculty of Applied Sciences</a>, <a href="http://www.zcu.cz/">University of West Bohemia</a>
    by Martin Majer under the supervision of Pavel Campr, PhD.</p>
    <h3>Used Technology Stack</h3>
    <ul>
        <li><a href="https://www.python.org">Python</a> - general-purpose, high-level programming language</li>
        <li><a href="http://opencv.org">OpenCV</a> - a library for computer vision</li>
        <li><a href="http://www.cs.ubc.ca/research/flann/">FLANN</a> - a library for performing fast approximate nearest neighbor searches in high dimensional spaces</li>
        <li><a href="http://caffe.berkeleyvision.org">Caffe</a> - a deep learning framework</li>
        <li><a href="http://flask.pocoo.org">Flask</a> - micro web application framework</li>
        <li><a href="http://getbootstrap.com">Bootstrap</a> - HTML, CSS, and JS framework for developing responsive websites</li>
        <li><a href="https://github.com/kartik-v/bootstrap-fileinput">bootstrap-fileinput</a> - an enhanced HTML5 file input for Bootstrap 3.x</li>
    </ul>
{% endblock %}