{% extends "layout.html" %}

{% block head %}
{% endblock %}

{% block headtitle %}
    About
{% endblock %}

{% block nav %}
    <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li class="active"><a href="/about">About</a></li>
    </ul>
{% endblock %}

{% block jumbotron %}
{% endblock %}

{% block title %}
    About ImageSearch
{% endblock %}

{% block body %}
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sagittis et nisi non volutpat. Nunc porta varius ante nec cursus.
       Cras pharetra gravida massa eu vulputate. Etiam in tellus turpis. Praesent non diam diam. Fusce a ultricies lacus, id congue nisl.
       Aliquam maximus turpis lacus, id euismod tortor tincidunt ultrices. Etiam massa nunc, commodo tincidunt nisl sed, vulputate aliquam arcu.</p>
{% endblock %}